<div class="author">
    <h1 class="author__heading">Hi, I am Subho.</h1>
    <p class="author__body">Web developer and content creator.</p>
  </div>
  
  <img src="/img/my-logo.webp" alt="person looking out through window" class="my-logo-image" width="981" height="528">
  
  <section class="articles">
    <h2 class="articles__heading">Latest Events</h2>
  
    <ul class="article-ul">
      <% data.forEach(event => { %>
        <li>
          <a href="/event/<%= event._id %>">
            <span><%= event.title %></span>
            <span class="article-list__date"><%= event.createdAt.toDateString() %></span>
          </a>
        </li>
      <% }) %>
    </ul>
  
    <% if (nextPage !== null) { %>
        <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Events</a> 
    <% } %>
    
    
  
  
  
  </section>